<section>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th ng-click="setSortOrder('title')">Course</th>
                <th ng-click="setSortOrder('city')">City</th>
                <th ng-click="setSortOrder('email')">e-mail address</th>
                <th>website</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courses | orderBy:sortOrder | filter:query">
                <td>{{course.id}}</td>
                <td>{{course.title}}</td>
                <td>{{course.city}}</td>
                <td>{{course.email}}</td>
                <td><a href="{{course.website}}" target="_blank">{{course.website}}</a></td>
            </tr>
        </tbody>
    </table>
</section>
